body {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.player {
    display: flex;
    justify-content: space-around;
}

.player div {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.active-player {
    background-color: pink;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);

}

.square {
    height: 100px;
    border: 1px solid black;
}

.start-game{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.start-game button {
    /* display: none */
}

.inactive {
    color: #ccc
}





.player-select div {
    color: green;
}



/* #2 attempt */

