body {
    /* height: 100vh;
    display: flex;
    justify-content: center; */
}

.main {
    display: flex;
}

.main > div {
    flex: 1;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);

}

.square {
    height: 100px;
    border: 1px solid black;
}


.result button {
    display: none;
}

.player-select {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
}

.X,.O {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-select div {
    flex: 1;
    text-align: center;
    border: 1px solid black;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reset-scores {
    display: none;
}